<div id="app">
  <section class="todo-wrapper">
    <h1 class="todo-title">Your tasks</h1>
    <form>
      <input #input1 (click)="selectInput(input1)"
        type="text"
        value="New task 1"
        class="input-todo"
        placeholder="Take the garbage out"
      />
      <div #btn1 class="btn btn-add active" (click)="addTask('New task 1', btn1); selectButton(btn1)">+</div>
    </form>
    <form>
      <input #input2 (click)="selectInput(input2)"
        type="text"
        value="New task 2"
        class="input-todo"
        placeholder="Take the garbage out"
      />
      <div #btn2 class="btn btn-add active" (click)="addTask('New task 1', btn2); selectButton(btn2)">+</div>
    </form>
    <form>
      <input #input3 (click)="selectInput(input3)"
        type="text"
        value="New task 3"
        class="input-todo"
        placeholder="Take the garbage out"
      />
      <div #btn3 class="btn btn-add active" (click)="addTask('New task 1', btn3); selectButton(btn3)">+</div>
    </form>
    
    <div v-if="pending.length > 0">
      <p class="status busy">
        You have {{ tasks.length }} task<span *ngIf="tasks.length != 1">s</span>
      </p>
      <ul class="todo-list">
        <li *ngFor="let task of tasks; let i = index"
            [class.selected]="selectLoopEnabled && selectedTaskStatus[i]"
            (click)="selectTask(i)"
            >
          <input
            class="todo-checkbox"
            [checked]="task.completed"
            type="checkbox"
            [name]="task.title"
          />
          <label (click)="task.completed = !task.completed" [for]="task.title"></label>
          <span class="todo-text" (click)="task.completed = !task.completed">
            {{ task.title }}, completed: {{ task.completed }}
          </span>
          <span class="delete" (click)="deleteTask(task)"></span>
        </li>
      </ul>
      
    </div>

    <p *ngIf="tasks.length == 0" class="status free" v-if="!pending.length">
      <img
        src="https://nourabusoud.github.io/vue-todo-list/images/beer_celebration.svg"
        alt="celebration"
      />Time to chill! You have no todos.
    </p>
  </section>

  <div class="automation-panel">
    <div class="automation-content" *ngIf="!saveTasks">
      <div class="card-wrapper" (click)="toggleSelectLoop()">
        <p>loop</p>
      </div>
      <div>
        <h3 *ngIf="!selectLoopEnabled">First Select a child action</h3>
        <h3 *ngIf="selectLoopEnabled && selectedTasks.length === 0">Great! Select an element</h3>
        <h3 *ngIf="selectLoopEnabled && selectedTasks.length === 1">You selected 1 element. Please select another one.</h3>
        <h3 *ngIf="selectLoopEnabled && selectedTasks.length > 1">
          We predict {{ predictedElements }} additional element{{ predictedElements > 1 ? 's' : '' }}.
          In total, {{ selectedTasks.length }} elements are selected.
        </h3>
      </div>
    </div>
    <div class="perform-actions" *ngIf="saveTasks">
      <div class="card-wrapper" (click)="selectAction('mark')"  [ngClass]="{'selected-option': selectedAction  === 'mark'}">
        <h3>mark all tasks</h3>
      </div>
      <div class="card-wrapper" (click)="selectAction('delete')" [ngClass]="{'selected-option': selectedAction  === 'delete'}">
        <h3>Delete all tasks</h3>
      </div>
      <div class="card-wrapper" (click)="selectAction('input')" [ngClass]="{'selected-option': selectedAction === 'input'}">
        <h3>Input</h3>
        <input type="text" [(ngModel)]="textToSet" placeholder="Enter Your task">      
      </div>
    </div>
    <div class="action-buttons">
      <div class="save-button" *ngIf="selectLoopEnabled  && showSaveButton">
        <button (click)="saveSelectedTasks()">save</button>
      </div>
      <div class="save-button" *ngIf="showActionButton">
        <button (click)="performAction()">Run Bot</button>
      </div>
    </div>
  </div>
  
</div>
